DATABASE_URL = "url to database"
JWT_SECRET = "jwt secret key"

PORT = 3000
URL_ORIGIN = "http://localhost:5173"

MAIL_HOST = "smtp.gmail.com"
MAIL_PORT = 587
MAIL_USER = "mail user"
MAIL_PASS = "mail password"